<% if(admin) { %>
<div class="user">
  <p class="user__loggedin">Innskráður sem: <strong><%= user.username %></strong></p>
  <p class="user__logout"><a href="/admin/logout">Útskrá</a></p>
</div>
<% } else { %>
  <a href="/admin">Innskráning stjórnanda</a>
<% } %>
